.AddContainer{
    margin: 30px 0;
    background-color: #444;
    width: 100%;
    height: auto;
    padding: 2vw;
    border-radius: 15px;
}

#Add-description, #Add-amount{
    min-width: auto;
    min-height: fit-content;
    width: 20vw;
    height: 2vw;
    margin: 15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    
}
label {
    color: aliceblue;
}
input::placeholder{
    color: #444;
}

input[type=radio]{
    margin: 10px;
}

button{
    min-width: max-content;
    min-height: fit-content;
    width: 10vw;
    height: 6vh;
    background-color: chartreuse;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.radio{
    display: initial;
}

@media only screen and (max-width: 600px) {
    .AddContainer{
    display: grid;
    grid-template-columns: auto;
}
#Add-description, #Add-amount{
    min-width: auto;
    min-height: fit-content;
    width: 90%;
    height: 30px;    
}
label {
    font-size: 1rem;
    color: aliceblue;
}
button{
    width: 95%;
    height: 50px;
}
.radio{
    display: block;
}

}