.headerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1vw;
  background-color: chartreuse;
  color: black;
  width: 100vw;
  height: 20vh;
  flex-direction: column;
  align-content: center;
  letter-spacing: 4px;
}

p{
    font-weight: bolder;
}