*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80vw;
    margin: 0 auto;
}

.resumecontainer{
    display: flex;
    justify-content: space-around;
}

.view{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.viewoutgoing{
    height: 35vh;
    overflow-y: auto;
}

.viewoutgoing::-webkit-scrollbar {
  width: 15px;              
}

.viewoutgoing::-webkit-scrollbar-track {
  background: whitesmoke;        
}

.viewoutgoing::-webkit-scrollbar-thumb {
  background-color: chartreuse; 
}    

/*phones */
@media only screen and (max-width: 600px) {
  .resumecontainer{
    display: inline-block;
}
.view{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
}
